* {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  color: #5c5c5c;
}

.done {
  color: red;
  text-decoration: line-through;
}

.container {
  background-image: linear-gradient(
      to bottom,
      rgba(43, 73, 107, 0.9),
      rgba(53, 102, 158, 0.9)
    ),
    url(../img/working.png);
  background-repeat: no-repeat;
  background-size: 300px 166px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
}

.taskAdder {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.header {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

#task-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

li {
  display: flex;
  align-items: center;
  height: 30px;
  width: 200px;
  border-bottom: 2px solid #35669e;
}
li:hover {
  cursor: pointer;
}

.remove {
  margin-left: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.container-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(53, 102, 158, 0.9),
    rgba(41, 81, 127, 0.9)
  );
  width: 100%;
  height: 30px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bg {
  background-color: #ffffff;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  background-size: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  color: #ffffff;
  background-color: #35669e;
  border-radius: 3px;
  border: none;
}

button:hover {
  color: #ff0000;
  cursor: pointer;
}

input {
  height: 30px;
  background-color: #ffffff;
}

#add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  height: 30px;
  width: 50px;
  margin-left: 20px;
  color: #383636;
  background-color: #ffffff;
  border-radius: 3px;
  border: none;
}

#add-button:hover {
  background-color: #a8b6c7;
  cursor: pointer;
}

.placeholder {
  width: 180px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  cursor: pointer;
}

.placeholder:hover {
  cursor: pointer;
}
